@import '_helpers';

@text-color: #383535;
@page-width: 1000px;
@link-color: #5865A5;
@link-hover-color: #375ca0;

@font-face {
	font-family: "Charcoal CY";
	src: local("Charcoal CY"), url("/fonts/CharcoalCY.ttf");
}

html{
	background-color: #c7caca;
}
body{
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: @text-color;
}
a, a:visited{
	text-decoration:none;
	color: @link-color;
	.transition(.3s color);
}
a:hover{
	color: @link-hover-color;
}

#page_margins{
	width: @page-width;
	margin-left:auto;
	margin-right:auto;
	position: relative;
        padding: 0 20px;
}

@culture-code-banner-left-offset: -44px;
#culture_code_banner{
	position: relative;
	padding-top: 55px;
	left: @culture-code-banner-left-offset;
	
	h1{
		font-family: "Charcoal CY";
		font-size: 180pt;
		color: #aaadad;
		line-height: 141pt;
		text-transform: uppercase;
		width: 500px;
                margin: 0;
	}
	h2{
		font-family: "Hiragino Kaku Gothic ProN", "News Gothic MT", Thonburi, Tahoma;
		position: relative;
		left: 0px - @culture-code-banner-left-offset;
		font-size: 45pt;
		color: @text-color;		
		width: 500px;
                margin: 0 0 0.5em 0;
	}
}

@page-copy-width: 610px;
@page-copy-header-size: 27.5pt;
#page_copy{
	position: relative;
	font-size: 15pt;
	width: @page-copy-width;
	
	p{
		margin: 0.25em 0 1em;
		line-height: 1.25em;
	}
	
	h1{
		font-size: @page-copy-header-size;
	}
}

@copy-to-nav-distance: 100px;
@nav-padding-left: 50px;
#page_nav_container{
	margin-left: auto;
	margin-right: auto;
	width: @page-width;
	position: absolute;
}
#page_nav{
	position: relative;
	left: @page-copy-width + @copy-to-nav-distance - @nav-padding-left;
	padding-left: @nav-padding-left;
	width: 300px;
	font-family: "Hiragino Kaku Gothic ProN";	
	font-size: 25pt;
	text-transform: uppercase;
	border-left: 4px solid #aaadad;

        a{
            color: @text-color;
        }
        a:hover{
            color: @link-hover-color;
        }
}
/* Firefox overflows box shadow and causes scrollbars, this is to prevent it */
#footer_shadow_container{
	overflow: hidden;
	width: 100%;
}
#footer_container{
	background-color: #191716;
	margin-top: 100px;
	height: 500px;
	.box-shadow(0 -2px 3px rgba(0,0,0,0.3));
}
#footer{
	padding: 30px;
	width: @page-width;
	margin-left: auto;
	margin-right: auto;
	color: #F7F7F7;
        position: relative;

        #contact_header{
            top: 6px;
            margin:-1em 0 0;
            position:absolute;
            font-size: @page-copy-header-size;
            line-height: @page-copy-header-size;
            color: #191716;
        }
	.location{
		display: inline;
		float: left;
		margin-right: 20px;
		width: 160px;
		font-size: 12px;
		line-height: 1.5em;
		
		h4 {
			font-family: "Charcoal CY";			
		}
	}
}

.clear{
    clear: both;
}