@import '_helpers';

.gallery{
    .gallery_item{
        display: inline;
    }
}

@thumbnail-border-color: #AAAAAA;
@thumbnail-shadow-border-color: @thumbnail-border-color - #363636;
.thumbnail{
    padding: 4px;
    background: white;
    margin: 10px;
    border: 1px solid @thumbnail-border-color;
    border-bottom-color: @thumbnail-shadow-border-color;
    .rounded-corners(2px);
    height: 110px;
    width: 110px;
}