$background-color: #c7caca;
$text-color: #383535;
$page-width: 900px;
$link-color: #2F84E2;
$link-hover-color: #375ca0;
$title-color: #9A9FA0;
$body-font: Georgia, 'Times New Roman', Times, serif;

@mixin box-shadow($shadow:'') {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin thin-text{
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}

@mixin transition($transition:''){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	transition: $transition;
}

@mixin rounded-corners($radius:2px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
