@import 'mixins';

.gallery{
    .gallery_item{
        display: inline-block;
        margin: 10px 20px 10px 0;
    }
}

$thumbnail-border-color: #AAAAAA;
$thumbnail-shadow-border-color: $thumbnail-border-color - #363636;
.thumbnail{
        padding: 4px;
        background: white;
        border: 1px solid $thumbnail-border-color;
        border-bottom-color: $thumbnail-shadow-border-color;
        @include rounded-corners(2px);
        vertical-align: middle;
}
.fancybox-skin {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.header {
    display: block;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;

    text-align: center;
    font-family: $body-font;
    font-size: 24pt;
    text-shadow: 0 0 5px black;
}